{% extends "::base.html.twig" %}
{% block title %}ManagecastingBundle:Playlist:index{% endblock %}
{% block content_title %}Playlist overview{% endblock %}
{% block body %}
    <div class="large-12 columns content-box" style="padding-top:10px; text-align: right">
        <a class="button secondary small" style="margin-bottom: 10px" href="{{ path('manage_casting_default_index') }}">
            <i class="fi-arrow-left large"></i> Back
        </a>
        <a class="button secondary small" style="margin-bottom: 10px" href="{{ path('manage_casting_playlist_new') }}">
            <i class="fi-page-add large"></i> New
        </a>
    </div>
    <div class="large-12 columns content-box" style="margin-top:20px">
        <table cellspacing="0" id="dataTable" class="display">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th>Name</th>
                <th width="150">Description</th>
            </tr>
            </thead>
            <tbody>
            {% for playlist in playlists %}
                <tr onclick="location.href='{{ path('manage_casting_playlist_detail', {'id': playlist.id}) }}';">
                    <td>{{ playlist.id }}</td>
                    <td>{{ playlist.name }}</td>
                    <td>{{ playlist.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}