{% extends 'layout.html.twig' %}
{% block title %}Store details{% endblock %}

{% block content %}
    {% include '@Managecasting/Store/navigation.html.twig' %}
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading"><b>Basic information</b></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <dl class="dl-horizontal">
                        <dt>Name</dt>
                        <dd>{{ store.name }}</dd>
                        <dt>Description</dt>
                        <dd>{{ store.description }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>Address</dt>
                        <dd>{{ store.street }} {{ store.houseNumber }}</dd>
                        <dt>zipcode</dt>
                        <dd>{{ store.zipcode }}</dd>
                        <dt>City</dt>
                        <dd>{{ store.city }}</dd>
                    </dl>
                </div>
            </div>


        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><b>Linked screens</b></div>
        <div class="panel-body">
            <table id="table" class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for screen in screens %}
                    <tr onclick="location.href='{{ path('manage_casting_screen_detail', {'id': screen.id}) }}';">
                        <td>{{ screen.id }}</td>
                        <td>{{ screen.name }}</td>
                        <td>{{ screen.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
