<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ path('manage_casting_default_index') }}">Dashboard</a></li>
        <li><a href="{{ path('manage_casting_store_index') }}">Stores</a></li>
        <li><a href="{{ path('manage_casting_screen_index') }}">Screens</a></li>
        <li><a href="{{ path('manage_casting_playlist_index') }}">Playlists</a></li>
        <li><a href="{{ path('manage_casting_slide_index') }}">Slides</a></li>
    </ul>
</div>

