{% extends "::base.html.twig" %}
{% block title %}ManagecastingBundle:Slide:index{% endblock %}
{% block content_title %}Slide details{% endblock %}
{% block body %}
    <div class="large-12 columns content-box" style="padding-top:10px; text-align: right">
        <a class="button secondary small" style="margin-bottom: 10px" href="{{ path('manage_casting_slide_list') }}">
            <i class="fi-arrow-left large"></i> Back
        </a>
        <a class="button secondary small" style="margin-bottom: 10px" href="{{ path('manage_casting_slide_edit', { 'id': slide.id }) }}">
            <i class="fi-page-edit large"></i> Edit
        </a>
        <a class="button secondary small" style="margin-bottom: 10px" href="{{  path('manage_casting_slide_new') }}">
            <i class="fi-page-add large"></i> New
        </a>
        <a class="button secondary small" style="margin-bottom: 10px" href="{{ path('manage_casting_slide_delete', { 'id': slide.id }) }}">
            <i class="fi-page-remove large"></i> Delete
        </a>
    </div>
    <div class="large-12 columns content-box" style="margin-top:20px">
        <div data-alert="" class="alert-box secondary">
            <strong>{{ slide.name }}</strong>
            <br/>
            {{ slide.description }}
        </div>
        <div class="row">
            <div class="small-6 large-6 columns">
                <a style="width:100%" class="th" href="/{{ slide.publicPath }}">
                    <img src="/{{ slide.publicPath }}">
                </a>
            </div>
            <div class="small-6 large-6 columns">
                <div class="large-12 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-3 columns">
                            <span class="prefix">Type </span>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" placeholder="{{ slide.dataType }}">
                        </div>
                        <div class="small-3 columns">
                            <span class="prefix">Resolution </span>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" placeholder="{{ slide.resolution }}">
                        </div>
                        <div class="small-3 columns">
                            <span class="prefix">Playlist </span>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" placeholder="{{ slide.playlist.name }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>
{% endblock %}