{% extends "::base.html.twig" %}

{% block title %}ManagecastingBundle:Store:index{% endblock %}
{% block content_title %}Store details{% endblock %}
{% block body %}
    <div class="large-12 columns content-box" style="padding-top:10px; text-align: right">
        <a class="button secondary small" style="margin-bottom: 10px" href="{{ path('manage_casting_store_list') }}">
            <i class="fi-arrow-left large"></i> Back
        </a>
        <a class="button secondary small" style="margin-bottom: 10px" href="{{ path('manage_casting_store_edit', { 'id': store.id }) }}">
            <i class="fi-page-edit large"></i> Edit
        </a>
        <a class="button secondary small" style="margin-bottom: 10px" href="{{  path('manage_casting_store_new') }}">
            <i class="fi-page-add large"></i> New
        </a>
        <a class="button secondary small" style="margin-bottom: 10px" href="{{ path('manage_casting_store_delete', { 'id': store.id }) }}">
            <i class="fi-page-remove large"></i> Delete
        </a>
    </div>
    <div class="large-12 columns content-box" style="margin-top:20px">
        <div data-alert="" class="alert-box secondary">
            <strong>{{ store.name }}</strong>
            <br/>
            {{ store.description }}
            <br/>
            <hr/>
            {{ store.street }} {{ store.houseNumber }}
            <br/>
            {{ store.city }}
            <br/>
            {{ store.zipcode }}
        </div>
        <table cellspacing="0"  id="dataTable" class="display">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for screen in screens %}
                <tr onclick="location.href='{{ path('manage_casting_screen_detail', {'id': screen.id}) }}';">
                    <td>{{ screen.id }}</td>
                    <td>{{ screen.name }}</td>
                    <td>{{ screen.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}