{% extends "::base.html.twig" %}
{% block title %}ManagecastingBundle:Store:index{% endblock %}
{% block content_title %}Store overview{% endblock %}
{% block body %}
<div class="large-12 columns content-box" style="padding-top:10px; text-align: right">
    <a class="button secondary small" style="margin-bottom: 10px" href="{{ path('manage_casting_default_index') }}">
        <i class="fi-arrow-left large"></i> Back
    </a>
    <a class="button secondary small" style="margin-bottom: 10px" href="{{  path('manage_casting_store_new') }}">
        <i class="fi-page-add large"></i> New
    </a>
</div>
<div class="large-12 columns content-box" style="margin-top:20px">
    <table cellspacing="0" id="dataTable" class="display">
        <thead>
        <tr>
            <th width="50">ID</th>
            <th>Name</th>
            <th width="150">Description</th>
        </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr onclick="location.href='{{ path('manage_casting_store_detail', {'id': store.id}) }}';">
                <td>{{ store.id }}</td>
                <td>{{ store.name }}</td>
                <td>{{ store.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}